body{
    background-color: #D9D9D9;
}
#tecnico, #selecao_intro,#estatisticas_selecao, #proximo_jogo,#jogadores_selecao{
    display: none;
    border-radius: 20px;
    border: 1px solid #F6F6F6;
    background-color: #F6F6F6;
    
}
.dado{
    display: flex;
    justify-content: space-between;
}
span{
    font-size: 14px;
    font-weight: 600;
}
.jogador{
    display: flex;
    align-items: center;
}

@media (max-width: 992px){
    .classTecnico{
        margin: auto; 
        position: relative;
        width: 200px;
        height: 215px;
        overflow: hidden;
        border-radius: 50%; 
    }
    .tecnico{
        width: 100%; 
        height: auto;
    }
    .jogadorSelecao{
        position: relative;
        width: 50px;
        height: 50px;
        overflow: hidden;
        border-radius: 50%; 
    }
    .jogadorS{
        width: 100%; 
        height: auto; 
    }
}
@media (min-width: 992px){
    .classTecnico{
        margin: auto; 
        position: relative;
        width: 200px;
        height: 215px;
        overflow: hidden;
        border-radius: 50%; 
    }
    .tecnico{
        width: 100%; 
        height: auto;
    }
    .jogadorSelecao{
        position: relative;
        width: 50px;
        height: 50px;
        overflow: hidden;
        border-radius: 50%; 
    }
    .jogadorS{
        width: 100%; 
        height: auto; 
    }
}

@media (max-width: 992px){
    #timeSelecao1, #timeSelecao2{
        width: 70px;
    }
}

@media (min-width: 992px){
    #timeSelecao1, #timeSelecao2{
        width: 48px;
    }
}
@media (min-width: 1200px){
    #timeSelecao1, #timeSelecao2{
        width: 70px;
    }
}