.carousel-inner>.carousel-item{
    -webkit-transition: -webkit-transform .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
 }

.carousel-control-prev,.carousel-control-next {
    width: 4%;
   
}