body{
    background-color: #D9D9D9;
}
.nova_postagem{
    border-radius: 20px;
    border: 1px solid #F6F6F6;
    background-color: #F6F6F6;
}
.btn-outline-dark:hover{
    background-color: #0000A6 !important;
    color: #FAFF00 !important;
}
.tela_bloqueio{
    background-color: #3c3c3d;
    opacity: 75%;
}
.texto_alerta{
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    padding-top: 255px;
}

.usuarioCat{
    font-weight: bold;
}

.usuarioCat, .textoPost{
    margin-left: 10px;
}

.postagem{
    background-color: #F6F6F6;
    border-radius: 20px;
    border: 1px solid #F6F6F6;
    margin-top: 20px;
    margin-bottom: 20px;
}